{{>licenseInfo}}
#pragma once

#include "CoreMinimal.h"
#include "{{modelNamePrefix}}BaseModel.h"
#include "{{classFilename}}.generated.h"

// forward declaration
{{#operations}}{{#operation}}struct F{{operationIdCamelCase}}Request;
struct F{{operationIdCamelCase}}Response;
{{/operation}}{{/operations}}

UCLASS(BlueprintType)
class {{dllapi}} {{classname}}: public UObject
{
	GENERATED_BODY()
public:
	{{classname}}();
	~{{classname}}();

	void SetURL(const FString& Url);
	void AddHeaderParam(const FString& Key, const FString& Value);
	void ClearHeaderParams();

    {{#operations}}{{#operation}}DECLARE_DELEGATE_OneParam(F{{operationIdCamelCase}}Delegate, const F{{operationIdCamelCase}}Response&);
    {{/operation}}{{/operations}}
    {{#operations}}{{#operation}}{{#description}}/* {{{description}}} */
	{{/description}}bool {{operationIdCamelCase}}(const F{{operationIdCamelCase}}Request& Request, const F{{operationIdCamelCase}}Delegate& Delegate = F{{operationIdCamelCase}}Delegate()) const;
    {{/operation}}{{/operations}}
private:
    {{#operations}}{{#operation}}void On{{operationIdCamelCase}}Response(FHttpRequestPtr HttpRequest, FHttpResponsePtr HttpResponse, bool bSucceeded, F{{operationIdCamelCase}}Delegate Delegate) const;
    {{/operation}}{{/operations}}
	bool IsValid() const;
	void HandleResponse(FHttpResponsePtr HttpResponse, bool bSucceeded, FNetCodeResponse& InOutResponse) const;

	FString Url;
	TMap<FString,FString> AdditionalHeaderParams;
};