{{>licenseInfo}}
#pragma once

#include "{{modelNamePrefix}}BaseModel.h"
#include "{{classFilename}}.h"

{{#imports}}{{{import}}}
{{/imports}}
#include "{{classFilename}}Operations.generated.h"

{{#operations}}
{{#operation}}
/* {{summary}}
{{#notes}} *
 * {{notes}}{{/notes}}
*/
USTRUCT(BlueprintType)
struct {{dllapi}} F{{operationIdCamelCase}}Request : public FNetCodeRequest
{
	GENERATED_BODY()
public:
    virtual ~F{{operationIdCamelCase}}Request() {}
	void SetupHttpRequest(const TSharedRef<IHttpRequest,  ESPMode::ThreadSafe>& HttpRequest) const;
	FString ComputePath() const;
    
	{{#allParams}}
	{{#isEnum}}
	{{#allowableValues}}
	enum class {{{enumName}}}
	{
		{{#enumVars}}
		{{name}},
		{{/enumVars}}
  	};
	{{/allowableValues}}
	{{#description}}/* {{{description}}} */
	{{/description}}{{^required}}TOptional<{{/required}}{{{datatypeWithEnum}}}{{^required}}>{{/required}} {{paramName}}{{#required}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{/required}};
	{{/isEnum}}
	{{^isEnum}}
	{{#description}}/* {{{description}}} */
	{{/description}}{{^required}}TOptional<{{/required}}{{{dataType}}}{{^required}}>{{/required}} {{paramName}}{{#required}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{/required}};
	{{/isEnum}}
    {{/allParams}}
};

USTRUCT(BlueprintType)
struct {{dllapi}} F{{operationIdCamelCase}}Response : public FNetCodeResponse
{
	GENERATED_BODY()
public:
    virtual ~F{{operationIdCamelCase}}Response() {}
	{{#responses.0}}
	void SetHttpResponseCode(EHttpResponseCodes::Type InHttpResponseCode) final;
	{{/responses.0}}
	bool FromJson(const TSharedPtr<FJsonValue>& JsonObject) final;
    
    {{#returnType}}{{{returnType}}} Content;{{/returnType}}
};

{{/operation}}
{{/operations}}