{{>licenseInfo}}
#pragma once

#include "Kismet/BlueprintFunctionLibrary.h"
#include "{{modelNamePrefix}}BaseModel.h"

{{#imports}}{{{import}}}
{{/imports}}
#include "{{classFilename}}Operations.generated.h"

{{#operations}}
{{#operation}}
/* {{summary}}
{{#notes}} *
 * {{notes}}{{/notes}}
*/
USTRUCT(BlueprintType, Category={{unrealModuleName}}, meta=(DisplayName="{{nickname}}", HasNativeBreak="{{unrealModuleName}}.U{{operationIdCamelCase}}HelperLibrary.BreakRequest", HasNativeMake="{{unrealModuleName}}.U{{operationIdCamelCase}}HelperLibrary.MakeRequest"))
struct {{dllapi}} F{{operationIdCamelCase}}Request : public F{{modelNamePrefix}}BaseRequest
{
	GENERATED_BODY()
public:
    virtual ~F{{operationIdCamelCase}}Request() {}
	void SetupHttpRequest(const TSharedRef<IHttpRequest,  ESPMode::ThreadSafe>& HttpRequest) const;
	FString ComputePath() const;
    
	{{#allParams}}
	{{#isEnum}}
	{{#allowableValues}}
	enum class {{{enumName}}}
	{
		{{#enumVars}}
		{{name}},
		{{/enumVars}}
  	};
	{{/allowableValues}}
	{{#description}}/* {{{description}}} */
	{{/description}}{{^required}}TOptional<{{/required}}{{{datatypeWithEnum}}}{{^required}}>{{/required}} {{paramName}}{{#required}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{/required}};
	{{/isEnum}}
	{{^isEnum}}
	{{#description}}/* {{{description}}} */
	{{/description}}UPROPERTY(BlueprintReadWrite, EditAnywhere)
	{{^required}}TOptional<{{/required}}{{{dataType}}}{{^required}}>{{/required}} {{paramName}}{{#required}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{/required}};
	{{/isEnum}}
    {{/allParams}}
};

USTRUCT(BlueprintType)
struct {{dllapi}} F{{operationIdCamelCase}}Response : public F{{modelNamePrefix}}BaseResponse
{
	GENERATED_BODY()
public:
    virtual ~F{{operationIdCamelCase}}Response() {}
	{{#responses.0}}
	void SetHttpResponseCode(EHttpResponseCodes::Type InHttpResponseCode) final;
	{{/responses.0}}
	bool FromJson(const TSharedPtr<FJsonValue>& JsonObject) final;
    
	UPROPERTY(BlueprintReadWrite, EditAnywhere)
    {{#returnType}}{{{returnType}}} Content;{{/returnType}}
};

UCLASS()
class U{{operationIdCamelCase}}HelperLibrary : public UBlueprintFunctionLibrary
{
	GENERATED_BODY()
public:
	UFUNCTION(BlueprintPure, Category = "{{unrealModuleName}}", meta = (BlueprintThreadSafe, DisplayName="Make {{nickname}} Request Struct"))
	static F{{operationIdCamelCase}}Request MakeRequest({{#allParams}}{{dataType}} {{paramName}}{{#hasMore}},{{/hasMore}}{{/allParams}});
	UFUNCTION(BlueprintPure, Category = "{{unrealModuleName}}", meta = (BlueprintThreadSafe, DisplayName="Break {{nickname}} Request Struct"))
	static void BreakRequest(const F{{operationIdCamelCase}}Request& InRequest{{#allParams}}, {{dataType}}& {{paramName}}{{/allParams}});
};
{{/operation}}
{{/operations}}