{{>licenseInfo}}
#pragma once

#include "CoreMinimal.h"
#include "{{modelNamePrefix}}BaseModel.h"
#include "{{classFilename}}Operations.h"
#include "{{classFilename}}.generated.h"

// forward declaration
{{#operations}}{{#operation}}struct F{{operationIdCamelCase}}Request;
struct F{{operationIdCamelCase}}Response;
{{/operation}}{{/operations}}

UCLASS(BlueprintType, Category="{{unrealModuleName}}")
class {{dllapi}} {{classname}}: public UObject
{
	GENERATED_BODY()
public:
	{{classname}}();
	~{{classname}}();

	UFUNCTION(BlueprintCallable)
	void SetURL(const FString& Url);
	UFUNCTION(BlueprintCallable)
	void AddHeaderParam(const FString& Key, const FString& Value);
	UFUNCTION(BlueprintCallable)
	void ClearHeaderParams();

    {{#operations}}{{#operation}}DECLARE_DYNAMIC_DELEGATE_OneParam(F{{operationIdCamelCase}}Delegate, const F{{operationIdCamelCase}}Response&, Response);
    {{/operation}}{{/operations}}
    {{#operations}}{{#operation}}{{#description}}/* {{{description}}} */
	{{/description}}UFUNCTION(BlueprintCallable, Meta=(BluepirntPure=false, DisplayName="{{nickname}}"))
	bool {{operationIdCamelCase}}(const F{{operationIdCamelCase}}Request& Request, const F{{operationIdCamelCase}}Delegate& Delegate);
    {{/operation}}{{/operations}}
private:
    {{#operations}}{{#operation}}void On{{operationIdCamelCase}}Response(FHttpRequestPtr HttpRequest, FHttpResponsePtr HttpResponse, bool bSucceeded, F{{operationIdCamelCase}}Delegate Delegate) const;
    {{/operation}}{{/operations}}
	bool IsValid() const;
	void HandleResponse(FHttpResponsePtr HttpResponse, bool bSucceeded, F{{modelNamePrefix}}BaseResponse& InOutResponse) const;

	FString Url;
	TMap<FString,FString> AdditionalHeaderParams;
};