{{>licenseInfo}}
#include "SwaggerCommonModule.h"

IMPLEMENT_MODULE(SwaggerCommonModule, SwaggerCommon);
DEFINE_LOG_CATEGORY(LogSwaggerCommon);

void SwaggerCommonModule::StartupModule()
{
}

void SwaggerCommonModule::ShutdownModule()
{
}

