{{>licenseInfo}}
using System;
using System.IO;
using UnrealBuildTool;

public class SwaggerCommon : ModuleRules
{
    public SwaggerCommon(ReadOnlyTargetRules Target) : base(Target)
    {
        PublicDependencyModuleNames.AddRange(
            new string[]
            {
                "Core",
                "Http",
                "Json",
                "CoreUObject",
                "Engine",
            }
        );
    }
}